Package: enigma2-plugin-extensions-slykepg7day
Version: 2.12-20250805
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Slyk EPG 7 day - Sky EPG Downloader
Depends:
Source: https://www.linuxsat-support.com