Package: enigma2-plugin-extensions-slykepg7day
Version: 2.03_20210625
Section: extra
Priority: optional
Architecture: all
Maintainer: <kiddac2015@gmail.com>
Description: Slyk EPG 7 day - Sky EPG Downloader
Source: https://www.linuxsat-support.com